#Python related settings
**/__pycache__/
**.py
!__init__.py
!convertlrasd.py
!conversixdrepnet.py

#ML models related settings
**.onnx
**.pth
**.model
**.onnx.meta

#Unity related settings
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
.vscode/
**/Assets/Nuget/
**/Assets/Packages/
**/Assets/StreamingAssets/
**/ProjectSettings/Packages/
StreamingAssets.meta
Packages.meta
packages.config
packages.config.meta
NuGet.config
NuGet.config.meta
NuGet.meta